/** Define the margins of your page **/
@page {
    margin: 80px 50px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td{
    border: 0px solid #ddd;
    padding: 8px;
    text-align: center;
    font: bold 90% monospace;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #85a3e0;
    font: bold 90% monospace;
    color: white;
}

#customers2 {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers2 td{
    border: 2px solid #ddd;
    padding: 8px;
    text-align: center;
    font: bold 90% monospace;
}

#customers2 tr:nth-child(even){background-color: #f2f2f2;}

#customers2 tr:hover {background-color: #ddd;}

#customers2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #85a3e0;
    font: bold 90% monospace;
    color: white;
    border: 3px solid #ddd;
}

#customers3 {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers3 td{
    border: 0px solid #ddd;
    padding: 8px;
    text-align: left;
    font: 90% monospace;
}

#customers3 tr:nth-child(even){background-color: #f2f2f2;}

#customers3 tr:hover {background-color: #ddd;}

#customers3 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /*background-color: #85a3e0;*/
    font: bold 90% monospace;
    color: black;
}

#customers4 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers4 td{
    border: 0px solid #ddd;
    padding: 8px;
    text-align: center;
    font: bold 90% monospace;
}

#customers4 tr:nth-child(even){background-color: #f2f2f2;}

#customers4 tr:hover {background-color: #ddd;}

#customers4 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #85a3e0;
    font: bold 90% monospace;
    color: white;
}

#customers5 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers5 td{
    border: 0px solid #ddd;
    padding: 8px;
    text-align: center;
    font: bold 90% monospace;
}

#customers5 tr:nth-child(even){background-color: #f2f2f2;}

#customers5 tr:hover {background-color: #ddd;}

#customers5 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ffffff;
    font: bold 90% monospace;
    color: black;
    border: 3px solid #ddd;
}

header {
    position: fixed;
    top: -80px;
    left: 0px;
    right: 0px;
    height: 10px;
    z-index:  -2000;

    /** Extra personal styles 
    background-color: #03a9f4;**/
    color: black;
    
    line-height: 35px;
}

footer {
    position: fixed; 
    bottom: 40px; 
    left: 0px; 
    right: 0px;
    height: 50px; 

    /** Extra personal styles **/
    /*background-color: #03a9f4;*/
    color: black;
    text-align: center;
    line-height: 9px;
    font: bold 80% arial;
}

h3 {
    text-align:left;
}