
  

  
  .animate.pop {
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-duration: 0.5s;
  }
  
  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }





  .animate.fade {
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-duration: 0.5s;
  }
  
  @keyframes animate-fade {
    0% {
       opacity: 1;
      transform: scale(1, 1);
    }
  
    100% {
     opacity: 0;
      transform: scale(0.5, 0.5);
    }
  }




